[Desktop Entry]
Comment=Gitea is a community managed lightweight code hosting solution written in Go. It is published under the MIT license.
Exec=bash /home/<YOUR_USER>/.ez_gitea/script/gitea.bash
GenericName=A painless self-hosted Git service.
Icon=/home/<YOUR_USER>/.ez_gitea/icon/gitea.svg
Name=Gitea
